<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="outer-find-container">
      <div class="inner-find-container">
        <div class="find-form">
          <div>
            <mat-form-field color="primary" appearance="outline" class="form">
              <mat-label>Service</mat-label>
              <mat-select [formControl]="serviceControl" multiple>
                <mat-option *ngFor="let serviceControl of services" [value]="serviceControl">{{serviceControl}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        
          <div>
            <mat-form-field color="primary" appearance="outline" class="form">
              <mat-label>Schedule</mat-label>
              <mat-select [formControl]="scheduleControl" multiple>
                <mat-option *ngFor="let scheduleControl of schedules" [value]="scheduleControl">{{scheduleControl}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="find-btn">
            <button mat-raised-button color="primary">Find</button>
          </div>
        </div>
      </div>
      <div class="found-clinic">
        <mat-divider></mat-divider>

        
      </div>
    </div>
  </div>
</body> -->
