<div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle medium shade4"></div>
    <div class="circle small shade5"></div>
  </div>
  <div class="center-container">
    <div class="flip-card-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class='card-image' src="assets/dog_owner.jpg" alt="card-image">
            <div class="centered-text">
              <p>User Login</p>
            </div>
          </div>
          <div class="flip-card-back">
            <h2>User Login</h2>
            <div class="logo-container">
              <img class='logo' src="assets/owner.png" alt="owner-icon">
            </div>
            <div class="text-container">
              <p>Explore Konektobet for tailored pet care! <br><br>Join our community for seamless access to vet 
                clinics matching your dog's needs. <br><br>Experience a personalized journey with us!</p>
              <button mat-raised-button color="primary" class="login-button" routerLink="/login">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="flip-card-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class='card-image' src="assets/dog_vet.jpg" alt="card-image">
            <div class="centered-text">
              <p>Clinic Login</p>
            </div>
          </div>
          <div class="flip-card-back">
            <h2>Clinic Login</h2>
            <div class="logo-container">
              <img class='logo' src="assets/vet.png" alt="vet-icon">
            </div>
            <div class="text-container">
              <p>
                Welcome to Konektobet Dog Clinics!<br><br> Manage veterinary services seamlessly with our clinic account. 
                Enjoy top-quality care for your beloved animal patients. <br><br>Streamline communication with pet owners and optimize clinic operations.
                </p>
              <button mat-raised-button color="primary" class="login-button" routerLink="/clinic/clinic-login">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  