body {
    margin: 0;
    padding: 0;
}

/* update-coupon.component.scss */
.update-coupon-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons button {
    margin: 0 10px;
    /* Adjust button margin */
}