body{
  margin: 0;
  padding: 0;
}

// .clinic-home {
//   background-color: #f2f2f2;
//   // height: 70rem;
// }

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 30px;
}

.column {
  flex: 1;
  padding: 5rem;
  margin-top: 5rem;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 1rem;
}

.icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -3rem;
}

.pending .icon {
  color: orange;
}

.accepted .icon {
  color: blue;
}

.rejected .icon {
  color: red;
}

.concluded .icon {
  color: green;
}

.content {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.number {
  font-size: 2rem;
  margin-left: 1rem;
}

.donut-chart {
  position: relative;
  margin-left: 7rem;
  width: 50px;
  height: 50px;
}

.donut {
  width: 100%;
  height: 100%;
}

.donut-ring,
.donut-segment {
  fill: none;
}

.donut-ring {
  stroke: #f2f2f2;
}

.donut-text {
  font-size: 10px;
}

.donut-segment {
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.donut-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  color: #333;
}

.pending {
  border-bottom: 4px solid orange;
}

.accepted {
  border-bottom: 4px solid blue;
}

.rejected {
  border-bottom: 4px solid red;
}

.concluded {
  border-bottom: 4px solid green;
}

// .column:not(:last-child) {
//   margin-right: 2rem;
// }

.summary-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5rem auto;
  margin-bottom: 0;
  gap: 10%;
}

.total-container, .pie-container {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
}

.total-container {
  width: 50%;
}

.total-container h2 {
  text-align: center;
}

.year-select {
  display: block;
  margin: 0 auto 2rem auto;
  width: 50%;
}

.total-container table {
  width: 100%;
  border-collapse: collapse;
}

.total-container th, .total-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.total-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.pie-container {
  width: 40%;
  padding: 4rem;
}

.pie-chart {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
