<div class="home-container">
    <div class="hero-container" style="background-image: url('assets/bg.png');">
      <div class="get-started">
        <h1 class="dog-title">Discover Dog Care That Fits You Pawfectly</h1>
        <div class="button-container">
          <button mat-raised-button routerLink="/find" color="primary">GET STARTED</button>
        </div>
      </div>
      <div class="images-container">
        <div class="dog-container">
          <img src="assets/bloob.png" class="blob">
        </div>
        <img src="assets/dog.png" class="dog">
      </div>
    </div>
  
    <div class="how-container">
      <h1 class="how-title">How It Works</h1>
      <div class="how-it-works" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
        
        <div class="how-how">
          <img src="assets/pick.png" alt="choice.png">
          <div class="how-txt">
            <h2>Pick Your Desired Date and Service</h2>
            <p>Pick all your prefered service to a specific schedule.</p>
          </div>
        </div>
        
        <div class="how-how">
          <img src="assets/select.png" alt="select.png">
          <div class="how-txt">
            <h2>Select Your Desired Clinic</h2>
            <p>We recommend you the most suitable clinic.</p>
          </div>
        </div>
  
        <div class="how-how">
          <img src="assets/done.png" alt="click.png">
          <div class="how-txt">
            <h2>Check and Make Appointment</h2>
            <p>Check the clinic details and make apppointment.</p>
          </div>
        </div>
      
      </div>
    </div> 
    
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/LgVlJUGBa4I?si=1X_GYa6LoePuX0rW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="clinic-container" *ngIf="user">
      <h1 class="clinic-title">Suggested for you</h1>
      <h2 class="clinic-title1">Based on your favorite clinics, you may also like this:</h2>
      <div class="clinic-card-container">
        <a *ngFor="let clinic of clinics" [routerLink]="['/fav-details', clinic.fvmClinic_id]" style="text-decoration: none;">
          <mat-card class="clinic-card" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" style="background-image: url('assets/bg.png');">
            <mat-card-content>
              <div class="clinic-logo">
                <img [src]="clinic.logo || 'assets/logo.png'" alt="Profile Image">
                <div class="clinic-txt">
                  <!-- <h1>{{ clinic.cName }}</h1> -->
                  <!-- <h2>{{ clinic.cAddress }}</h2> -->
                </div>
              </div>
              <div class="see-more1" *ngIf="isHovered">
                <mat-icon>arrow_forward_ios</mat-icon>
                <label><strong>See more</strong></label>
              </div>
              <div class="bot-part-container">
                <div class="see-more">
                  <!-- <button mat-raised-button class="see-more1" (click)="popSeeMoreDetails(clinic)">See more<mat-icon>chevron_right</mat-icon></button> -->
                  <h2>{{ clinic.fvmName }}</h2>
                  <h2>{{ clinic.fvmAddress }}</h2>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  
    <div class="clinic-list-container" *ngIf="user">
      <h1 class="clinic-list-title">Recommended for you</h1>
      <div class="clinic-cardlist-container">
        <a *ngFor="let clinic of initialClinics" [routerLink]="['/matched-details', clinic.mClinic_id]" style="text-decoration: none;">
          <mat-card class="clinic-card" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" style="background-image: url('assets/bg.png');">
            <mat-card-content>
              <div class="clinic-logo">
                <img [src]="clinic.logo || 'assets/logo.png'" alt="Profile Image">
                <div class="clinic-txt">
                  <!-- <h1>{{ clinic.cName }}</h1> -->
                  <!-- <h2>{{ clinic.cAddress }}</h2> -->
                </div>
              </div>
              <div class="see-more1" *ngIf="isHovered">
                <mat-icon>arrow_forward_ios</mat-icon>
                <label><strong>See more</strong></label>
              </div>
              <div class="bot-part-container">
                <div class="see-more">
                  <!-- <button mat-raised-button class="see-more1" (click)="popSeeMoreDetails(clinic)">See more<mat-icon>chevron_right</mat-icon></button> -->
                  <h2>{{ clinic.mName }}</h2>
                  <h2>{{ clinic.mAddress }}</h2>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
    <div class="clinic-container" *ngIf="!user">
      <h1 class="clinic-title">Fast. Accurate. Satisfying.</h1>
      <div class="check-mark">
        
        <div class="fast">
          <img src="assets/check-mark.png" alt="check.png">
          <div class="check-txt">
            <h2>Fast Recommendations</h2>
            <p>Very fast dog clinic recommendations through the use of different algorithms.</p>
          </div>
        </div>
  
        <div class="accurate">
          <img src="assets/check-mark.png" alt="check.png">
          <div class="check-txt">
            <h2>High-Accuracy Recommendations</h2>
            <p>Through your preferences, we generate dog clinic recommendations with high-accuracy.</p>
          </div>
        </div>
  
        <div class="time-saving">
          <img src="assets/check-mark.png" alt="check.png">
          <div class="check-txt">
            <h2>Designed for your Preference</h2>
            <p>We use algorithms to match your preferences to find the most suited dog clinic.</p>
          </div>
        </div>
  
        <div class="button-container">
          <button mat-raised-button routerLink="/find" color="primary">GET STARTED</button>
        </div>
        
      </div>
    </div>

    <div class="amazon-container">
      <div class="amazon">
        <div class="amazon-text">
          <h1><strong>Get our app now for an unforgettable experience.</strong></h1>
        </div>
        <div class="mockup-container">
          <img src="assets/mockup.png" alt="">
        </div>
        <div class="amazon-as">
          <a href="https://www.amazon.com/dp/B0CTYM2LZF/ref=apps_sf_sta" target="_blank"><img src="assets/amazon.png" alt=""></a>
        </div>
      </div>
    </div>

    <div class="dev-team-container">
      <h1 class="clinic-title">Get to know the Team</h1>
      <div class="dev-team">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img src="assets/logo.png" alt="">
            </div>
            <mat-card-title>Eryl Jay Cordero</mat-card-title>
            <mat-card-subtitle>UI/UX Designer and Front End Developer</mat-card-subtitle>
          </mat-card-header>
          <div class="dev-img">
            <img mat-card-image src="assets/eryl.png" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-content>
            <p>
              As a UI/UX Designer and Front-end Developer, I am responsible 
              for the design and develop user-friendly Konektobet. 
              Leveraging Angular's features, they craft responsive and visually 
              appealing interfaces to enhance the user experience.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">See more</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img src="assets/logo.png" alt="">
            </div>
            <mat-card-title>John Patrick Flores</mat-card-title>
            <mat-card-subtitle>Fullstack Developer</mat-card-subtitle>
          </mat-card-header>
          <div class="dev-img">
            <img mat-card-image src="assets/patrick.png" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-content>
            <p>
              He's a Full Stack Developer at Konektobet, specializing in TypeScript and Supabase, we bridge front and back ends, 
              architecting robust solutions and optimizing database performance for smooth 
              user experiences and agile development cycles.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">See more</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img src="assets/logo.png" alt="">
            </div>
            <mat-card-title>Raniel Johndrie Luz</mat-card-title>
            <mat-card-subtitle>Fullstack Developer</mat-card-subtitle>
          </mat-card-header>
          <div class="dev-img">
            <img mat-card-image src="assets/raniel.png" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-content>
            <p>
              He's a Full Stack Developer at Konektobet, proficient in TypeScript and Supabase, 
              He seamlessly synchronize front and back ends, optimizing server-side solutions 
              for smooth user experiences and agile development.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">See more</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img src="assets/logo.png" alt="">
            </div>
            <mat-card-title>Loudel Manaloto</mat-card-title>
            <mat-card-subtitle>Project Adviser</mat-card-subtitle>
          </mat-card-header>
          <div class="dev-img">
            <img mat-card-image src="assets/sir louds.png" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-content>
            <p>
              As a Project Adviser at Konektobet, he offer strategic guidance, technology insights, 
              and risk mitigation. Their role ensures project success through effective communication, 
              and continuous improvement initiatives.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">See more</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
    <div class="footer-container">
      <div class="footer">
        <div class="logo-container">
          <img src="assets/gc.jpg" alt="">
          <img src="assets/ccslogo.png" alt="">
          <img src="assets/logo.png" alt="">
        </div>
        <div class="thesis-title">
          <h2>Konektobet: A Dog Clinic Recommendation System using Matching and Content-based Filtering Algorithm</h2>
        </div>
      </div>

      <div class="footer-text">
        <div class="contact">
          <h2 class="footer-title"><b>Contact Us</b></h2>
          <h2>konektobet@gmail.com</h2>
          <h2>+639777094575</h2>
          <h2>Konektobet</h2>
        </div>

      <div class="team">
        <h2 class="footer-title"><b>QuantumX</b></h2>
        <h2>Eryl Jay A. Cordero</h2>
        <h2>John Patrick B. Flores</h2>
        <h2>Raniel Johndrie F. Luz</h2>
      </div>

      <div class="links">
        <h2 class="footer-title"><b>Shortcut Links</b></h2>
        <h2 class="navigate" (click)="navigateToHome()">Home</h2>
        <h2 class="navigate" (click)="navigateToClinic()">Clinic</h2>
        <h2 class="navigate" (click)="navigateToFind()">Find Clinic</h2>
        <h2 class="navigate" (click)="navigateToAppointment()">Appointment</h2>
      </div>
    </div>

      <!-- <section>
        <div class="credits-footer">&copy;<span>2023 QuantumX - Konektobet. All rights reserved.</span></div>
      </section> -->
    </div>
    <div class="credits-footer"><span>&copy;2023 QuantumX - Konektobet. All rights reserved. | <a href=""></a>Privacy Policy</span></div>
  
    <!-- <mat-divider></mat-divider>
  
    <div class="footer-container">
      <div class="konektobet">
        <h3>Konektobet</h3>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="footer-container1">
  
    </div> -->
  
  </div>
  