<!-- <div class="outer-container">
  <div class="inner-container">
    <div class="dog">
      <h1 class="dog-title">DISCOVER DOG CARE THAT FITS YOU PAWFECTLY</h1>
      <div class="button-container">
        <button mat-raised-button>GET STARTED</button>
      </div>
      <div class="dog-bg-container">
        <img src="assets/blob.svg" alt="dogbg.png" class="dog-bg">
      </div>
      <img src="assets/dog.png" alt="dog.png" class="dog-pic">
    </div>
  </div>
</div> -->

<div class="home-container">
    <div class="hero-container">
      <div class="get-started">
          <h1 class="dog-title">Discover Dog Care That Fits You Pawfectly</h1>
          <div class="button-container">
              <button mat-raised-button routerLink="/find" color="primary">GET STARTED</button>
          </div>
      </div>
      <div class="images-container">
        <div class="dog-container">
            <img src="assets/bloob.png" class="blob">
        </div>
        <img src="assets/dog.png" class="dog">
    </div>
  </div>

  <div class="how-container">
      <h1 class="how-title">How It Works</h1>
      <div class="how-it-works">
          <div class="pick">
              <img src="assets/pick.png" alt="choice.png">
              <h2>Pick Your Desired Service</h2>
              <p>Pick all the service that <br> your preference</p>
          </div>
          <div class="select">
              <img src="assets/select.png" alt="select.png">
              <h2>Select Your Desired Clinic</h2>
              <p>We recommend you the most suitable <br>clinic based on your preference</p>
          </div>
          <div class="check-details">
              <img src="assets/check.png" alt="click.png">
              <h2>Check the Clinic Details</h2>
              <p>Check details and Go</p>
          </div>
      </div>
  </div>

  <div class="clinic-container">
    <h1 class="clinic-title">Fast. Accurate. Satisfying.</h1>
    <div class="check-mark">
      <div class="fast">
        <img src="assets/check-mark.png" alt="check.png">
        <div class="check-txt">
          <h2>Fast Recommendations</h2>
          <p>We use algorithms to match your preferences to find the most suited dog clinic.</p>
        </div>
      </div>
      <div class="accurate">
        <img src="assets/check-mark.png" alt="check.png">
        <div class="check-txt">
          <h2>High-Accuracy Recommendations</h2>
          <p>Through your preferences, we generate dog clinic recommendations with high-accuracy.</p>
        </div>
      </div>
      <div class="time-saving">
        <img src="assets/check-mark.png" alt="check.png">
        <div class="check-txt">
          <h2>Designed for your Preference</h2>
          <p>We use algorithms to match your preferences to find the most suited dog clinic.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <mat-divider></mat-divider>

  <div class="footer-container">
    <div class="konektobet">
      <h3>Konektobet</h3>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="footer-container1">

  </div> -->

</div>
