<div>
  <mat-toolbar color="primary">
    <!-- <mat-toolbar-row> -->
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav-logo">
          <img src="assets/logo.png" alt="konektobetlogo" class="navlogo" routerLink="/clinic/clinic-home">
      </div>
      <div class="nav-links">
          <a class="a-link" routerLink="/clinic/clinic-home" mat-button>Home</a>
          <a class="a-link" routerLink="/clinic/clinic-list" mat-button>Clinics</a>
          <!-- <a class="a-link" routerLink="/clinic-appointment" mat-button>Appointments</a> -->
          <a class="a-link" routerLink="/clinic/clinic-find" mat-button>Appointments</a>
          <a class="a-link" routerLink="/clinic/status" mat-button>Status</a>
          <span class="menu-spacer"></span>
      </div>
      <div class="flex-container"></div>

      <button *ngIf="!clinicUser" class="login-button" mat-raised-button routerLink="/user-selection">Login</button>

      <div *ngIf="clinicUser" class="user-dropdown">
        <span class="user-name">{{ userFirstname }} {{ userLastname }}</span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu" class="mat-menu">
          <!-- <button mat-menu-item>User Profile</button> -->
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>

    <!-- </mat-toolbar-row> -->
    <mat-progress-spinner *ngIf="loadingUserData" mode="indeterminate" diameter="20"></mat-progress-spinner>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()"></a>
        <button *ngIf="!clinicUser" class="login-mobile" mat-raised-button routerLink="/user-selection">Login</button>
        <span *ngIf="clinicUser" class="user-mobile">{{ userFirstname }} {{ userLastname }}</span>

        <mat-divider *ngIf="clinicUser"></mat-divider>
        <div class="just-margin"></div>
        
        <div class="list" [class.active]="isActiveLink('/userc-profile')" *ngIf="clinicUser">
          <a routerLink="/userc-profile" mat-list-item>
            <div class="list-item">
              <div class="list-circle">
                <mat-icon [style.color]="isActiveLink('/userc-profile') ? '#ffffff' : ''">person</mat-icon>
              </div>
              <span [style.color]="isActiveLink('/userc-profile') ? '#ffffff' : ''">User Profile</span>
            </div>
          </a>
        </div>

        <mat-divider></mat-divider>
        <div class="just-margin"></div>

        <div class="list" [class.active]="isActiveLink('/clinic/clinic-home')">
          <a routerLink="/clinic/clinic-home" mat-list-item>
            <div class="list-item">
              <div class="list-circle">
                <mat-icon [style.color]="isActiveLink('/clinic/clinic-home') ? '#ffffff' : ''">home</mat-icon>
              </div>
              <span [style.color]="isActiveLink('/clinic/clinic-home') ? '#ffffff' : ''">Home</span>
            </div>
          </a>
        </div>

        <div class="list" [class.active]="isActiveLink('/clinic/clinic-list')">
          <a routerLink="/clinic/clinic-list" mat-list-item>
            <div class="list-item">
              <div class="list-circle">
                <mat-icon [style.color]="isActiveLink('/clinic/clinic-list') ? '#ffffff' : ''">local_hospital</mat-icon>
              </div>
              <span [style.color]="isActiveLink('/clinic/clinic-list') ? '#ffffff' : ''">Clinics</span>                
            </div>
          </a>
        </div>
        <!-- <div class="list" [class.active]="isActiveLink('/clinic-appointment')">
          <a routerLink="/clinic-list" mat-list-item>
            <div class="list-item">
              <div class="list-circle">
                <mat-icon [style.color]="isActiveLink('/clinic-appointment') ? '#ffffff' : ''"> local_hospital</mat-icon>
              </div>
              <span [style.color]="isActiveLink('/clinic-appointment') ? '#ffffff' : ''">Appointment</span>                
            </div>
          </a>
        </div> -->

        <div class="list" [class.active]="isActiveLink('/clinic/clinic-find')">
          <a routerLink="/clinic/clinic-find" mat-list-item>
            <div class="list-item">
              <div class="list-circle">
                <mat-icon [style.color]="isActiveLink('/clinic/clinic-find') ? '#ffffff' : ''">local_hospital</mat-icon>
              </div>
              <span [style.color]="isActiveLink('/clinic/clinic-find') ? '#ffffff' : ''">Appointment</span>                
            </div>
          </a>
        </div>

        <div class="list" [class.active]="isActiveLink('/clinic/status')">
          <a routerLink="/clinic/status" mat-list-item>
            <div class="list-item">
              <div class="list-circle">
                <mat-icon [style.color]="isActiveLink('/clinic/status') ? '#ffffff' : ''">check_circle_outline</mat-icon>
              </div>
              <span [style.color]="isActiveLink('/clinic/status') ? '#ffffff' : ''">Status</span>                
            </div>
          </a>
        </div>

        <mat-divider></mat-divider>

        <div class="logout" *ngIf="clinicUser">
          <div class="logout-circle">
            <a (click)="logout()"><mat-icon>exit_to_app</mat-icon></a>
          </div>
        </div>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content"><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
