<div class="outer-container">
  <form [formGroup]="clinicForm" (ngSubmit)="addClinic()" class="form-container">
    <div>
    <h1 mat-dialog-title class="add-title">Add Clinic</h1>
    <div mat-dialog-content class="details-container">

        <mat-form-field>
            <mat-label>Clinic Name</mat-label>
            <input matInput formControlName="adName" >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="adAddress" >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contact Number</mat-label>
          <input matInput formControlName="adNumber" >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="adEmail" >
        </mat-form-field>

        <!-- <mat-form-field>
          <mat-label>Veterinarian</mat-label>
          <input matInput formControlName="cVet" >
        </mat-form-field> -->

        <mat-form-field>
          <mat-label>Starting Grooming Price</mat-label>
          <input matInput formControlName="adGrmPrice" >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Starting Service Price</mat-label>
          <input matInput formControlName="adLabPrice" >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Starting Surgery Price</mat-label>
          <input matInput formControlName="adSrgPrice" >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Opening</mat-label>
          <input type="time" matInput formControlName="adSTime" [step]="900" placeholder="HH:MM am/pm">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Closing</mat-label>
          <input type="time" matInput formControlName="adETime" [step]="900" placeholder="HH:MM am/pm">
        </mat-form-field>    

        <mat-form-field>
          <mat-label>Facebook/Website Link</mat-label>
          <input matInput formControlName="adLink" >
        </mat-form-field>

        <!-- <mat-form-field>
          <mat-label>Service</mat-label>
          <input matInput [formControl]="serviceControl" [matAutocomplete]="serviceAuto" formControlName="cService"/>
          <mat-autocomplete #serviceAuto="matAutocomplete" (optionSelected)="addService($event)">
            <mat-option *ngFor="let service of services" [value]="service">
              {{ service }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->

        <!-- <mat-form-field>
          <mat-label>Healthcare</mat-label>
          <input matInput [formControl]="healthcareControl" [matAutocomplete]="healthcareAuto" formControlName="cHealthcare"/>
          <mat-autocomplete #healthcareAuto="matAutocomplete" (optionSelected)="addHealthcare($event)">
            <mat-option *ngFor="let healthcare of healthcares" [value]="healthcare">
              {{ healthcare }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->

        <!-- <mat-form-field>
          <mat-label>Schedule</mat-label>
          <input matInput [formControl]="scheduleControl" [matAutocomplete]="scheduleAuto" formControlName="cSchedule"/>
          <mat-autocomplete #scheduleAuto="matAutocomplete" (optionSelected)="addSchedule($event)">
            <mat-option *ngFor="let schedule of schedules" [value]="schedule">
              {{ schedule }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
        
      <div class="add-clinic-btn">
        <button mat-raised-button type="submit" color="primary">Add Clinic</button>
      </div>
      </div>
    </div>
  </form>

  <div class="containers">
    
    <div class="service-container">
      <!-- <h1 class="container-title">Service</h1> -->
      <form [formGroup]="clinicForm" (ngSubmit)="addClinic()" class="form-container1">
        <mat-form-field>
          <mat-label>Search for Service</mat-label>
          <input matInput [formControl]="serviceControl" [matAutocomplete]="serviceAuto" formControlName="adService" />
          <mat-autocomplete #serviceAuto="matAutocomplete" (optionSelected)="addService($event)">
            <mat-option *ngFor="let service of filteredServices | async" [value]="service">
              {{ service }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>

      <div class="box">
        <mat-chip-listbox>
          <mat-chip *ngFor="let service of selectedServices" (removed)="removeService(service)">
            {{ service }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-listbox>
      </div>
    </div>

    <!-- <div class="healthcare-container">
      
      <form [formGroup]="clinicForm" (ngSubmit)="addClinic()" class="form-container1">
        <mat-form-field>
         <mat-label>Search for Healthcare</mat-label>
         <input matInput [formControl]="healthcareControl" [matAutocomplete]="healthcareAuto" formControlName="cHealthcare"/>
         <mat-autocomplete #healthcareAuto="matAutocomplete" (optionSelected)="addHealthcare($event)">
          <mat-option *ngFor="let healthcare of filteredHealthcares | async" [value]="healthcare">
           {{ healthcare }}
          </mat-option>
         </mat-autocomplete>
        </mat-form-field>
      </form>

      <div class="box">
        <mat-chip-listbox>
          <mat-chip *ngFor="let healthcare of selectedHealthcares" (removed)="removeHealthcare(healthcare)">
            {{ healthcare }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-listbox>
      </div>
    </div> -->
    
    <div class="sched-container">
      <form [formGroup]="clinicForm" (ngSubmit)="addClinic()" class="form-container1">
        <mat-form-field>
          <mat-label>Search for Schedule</mat-label>
          <input matInput [formControl]="scheduleControl" [matAutocomplete]="scheduleAuto" formControlName="adSchedule">
          <mat-autocomplete #scheduleAuto="matAutocomplete" (optionSelected)="addSchedule($event)">
            <mat-option *ngFor="let schedule of filteredSchedules | async" [value]="schedule">
              {{ schedule }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>
      <div class="box">
        <mat-chip-listbox>
          <mat-chip *ngFor="let schedule of selectedSchedules" (removed)="removeSchedule(schedule)">
            {{ schedule }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-listbox>
      </div>
    </div>
  </div>

</div>