<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <html>
    <body>
      <div class="details-outer-container">
        <button mat-raised-button color="primary" (click)="backToClinics()">Back</button>
        <div class="details-inner-container">
          <h1 class="details-title"></h1>
          <div class="container">
            <div class="details-container1">
              <div class="details-pic">
                  <div class="details-cover">
                      <img src="assets/bg.png" alt="">
                  </div>
                <div class="details">
                  <div class="details-pic-container">
                    <img src="{{  'assets/defaultprofile.png' }}" alt="assets/defaultprofile.png" />
                  </div>
                  <div class="details-credentials">
                    <h1><strong>{{ clinic?.acName }}</strong></h1>
                    <div class="btns">
                      <!-- <div class="favorites" *ngIf="!isFavorite">
                        <button mat-raised-button color="primary" (click)="acceptClinic()">
                          <mat-icon>check</mat-icon>Accept
                        </button>
                      </div>
                      <div class="appointment">
                        <button mat-raised-button color="primary">
                          <mat-icon>close</mat-icon>Reject
                        </button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="column" >
                <div class="col1">
                  <div class="icons">
                    <mat-icon>location_on</mat-icon>
                    <h2>{{ clinic?.acAddress }}</h2>
                  </div>
      
                  <div class="icons">
                    <mat-icon>local_phone</mat-icon>
                    <h2>{{ clinic?.acNumber }}</h2>
                  </div>
      
                  <div class="icons">
                    <mat-icon> email</mat-icon>
                    <h2>{{ clinic?.acEmail }}</h2>
                  </div>
      
                  <div class="icons">
                    <mat-icon>date_range</mat-icon>
                    <h2>{{ clinic?.acSchedule }}</h2>
                  </div>
      
                  <div class="icons">
                    <mat-icon>schedule</mat-icon>
                    <h2>{{ clinic?.acTime }}</h2>
                  </div>
                </div>
    
                <div class="col2">
                  <div class="icons">
                    <mat-icon>sentiment_satisfied_alt</mat-icon>
                    <h2>{{ clinic?.acService }}</h2>
                  </div>
      
                  <div class="icons">
                    <mat-icon>money</mat-icon>
                    <h2>Grooming Services - ₱{{ clinic?.acGrmPrice }}</h2>
                  </div>
      
                  <div class="icons">
                    <mat-icon>money</mat-icon>
                    <h2>Laboratory Services - ₱{{ clinic?.acLabPrice }}</h2>
                  </div>
      
                  <div class="icons">
                    <mat-icon>money</mat-icon>
                    <h2>Surgery - ₱{{ clinic?.acSrgPrice }}</h2>
                  </div>
      
                  <div class="icons">
                    <mat-icon>link</mat-icon>
                    <h2> <a [href]="clinic?.acLink" target="_blank">{{ clinic?.acLink }}</a></h2>
                  </div>
                </div>
              </div>
              
              <div class="reviews-container">

              </div>
  
            </div>
  
            <!-- <div class="recommended-container">
              <div class="recommended-title">
                <h1><strong>YOU MAY ALSO LIKE</strong></h1>
              </div>
              <div class="recommended-card" *ngFor="let item of recommendedClinics">
                <mat-card>
                  <mat-card-content>
                    <div class="recommended-pic-container">
                      <img src="{{ item.image }}" alt="{{ item.name }}" />
                    </div>
                    <div class="name-add">
                      <h1>{{ item.name }}</h1>
                      <h1>{{ item.address }}</h1>
                      <div class="see-more-btn">
                        <button mat-raised-button color="primary">See more...</button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div> -->
  
            </div>
          </div>
        </div>
    </body>
  </html>
  