<h1 mat-dialog-title>{{ clinic.cName }} Details</h1>
<div mat-dialog-content>
    <div class="details-container">
        <div class="details-logo-container">
            <img src="assets/logoo.png" alt="logoo.png">
        </div>
        <div class="details-txt-container">
            <h2>Clinic Name: {{ clinic.cName }}</h2>
            <h2>Clinic Address: {{ clinic.cAddress }}</h2>
            <h2>Contact Number: {{ clinic.cNumber }}</h2>
            <h2>Email: {{ clinic.cEmail }}</h2>
            <h2>Veterinarian/s: Dr. {{ clinic.cVet }}</h2>
            <h2>Service: {{ clinic.cService | removeQuotes | removeBrackets}}</h2>
            <!-- <h2>Healthcare: {{ clinic.cHealthcare | removeQuotes | removeBrackets}}</h2> -->
            <h2>Schedule: {{ clinic.cSchedule | removeQuotes | removeBrackets}}</h2>
            <h2>Link/s: {{ clinic.cLink }}</h2>
        </div>
    </div>
</div>
<div mat-dialog-actions class="detail-btn">
    <button (click)="onClose()" mat-raised-button color="warn">Close</button>
</div>