<body>
  <!-- clinic-find.component.html -->
  <h1 class="appointments">Clinic Appointments</h1>
<div class="filtering">
  <!-- Filter by Status -->
  <div class="status-filter">
    <mat-form-field appearance="outline">
      <mat-label>Filter by Status</mat-label>
      <mat-select [(value)]="selectedStatus" (selectionChange)="filterAppointments()">
        <mat-option value="all">All</mat-option>
        <mat-option value="Your appointment status is pending">Pending</mat-option>
        <mat-option value="Your Appointment has been approved">Accepted</mat-option>
        <mat-option value="Your Appointment is Cancelled">Rejected</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Filter by Date -->
  <div class="filter">
    <mat-form-field appearance="outline">
      <mat-label>Filter by Month</mat-label>
      <mat-select [(value)]="selectedMonth" (selectionChange)="filterAppointments()">
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let month of uniqueMonths" [value]="month">{{ month }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Filter by Day</mat-label>
      <mat-select [(value)]="selectedDay" (selectionChange)="filterAppointments()">
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let day of uniqueDays" [value]="day">{{ day }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Filter by Year</mat-label>
      <mat-select [(value)]="selectedYear" (selectionChange)="filterAppointments()">
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div *ngIf="filteredAppointments && filteredAppointments.length > 0">
  <div class="appointment-list" *ngFor="let appointment of filteredAppointments">
    <div class="make-appointment-container">
      <div class="title" style="background-color: #3f51b5;">
        <h1>{{ appointment.aName }} Appointment</h1>
      </div>

      <div class="clinic-details" style="background-image: url('assets/bg.png');">
        <div class="details-container">
          <div class="details-logo-container">
            <img src="assets/logoo.png" alt="logoo.png">
          </div>
          <div class="details-txt-container">
            <div class="icons">
              <h1>{{ appointment.aName }}</h1>
            </div>
            <div class="icons">
              <mat-icon>person</mat-icon> <h2>{{ appointment.firstname }} {{ appointment.lastname }}</h2>
            </div>
            
            <div class="icons">
              <mat-icon> sentiment_satisfied_alt</mat-icon> <h2>{{ appointment.aService }}</h2>
            </div>
            <!-- <p><strong>Healthcare:</strong> {{ appointment.aHealthcare }}</p> -->
            <div class="icons">
              <mat-icon>schedule</mat-icon>
              <h1>{{ appointment.aTime }}</h1>
            </div>
            <div class="icons">
              <mat-icon>date_range</mat-icon> <h2>{{ formatDate(appointment.aDate) }} - {{ appointment.aSchedule }}</h2>
            </div>
            
            <div class="icons">
              <mat-icon>today</mat-icon><h2 [ngClass]="getStatusColorClass(appointment.status)">{{ appointment.status }}</h2>
            </div>
            
            <!-- Add the Update Appointment button here -->
            <button (click)="popSeeMoreDetails(appointment.id)">
              <span>Update Appointment</span>
              <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/>
              </svg>
            </button>
            <!-- <button mat-raised-button (click)="popSeeMoreDetails(appointment.id)" class="update-btn"> 
              Update Appointment
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!filteredAppointments || filteredAppointments.length === 0">
  <div class="no-data">
    <img src="assets/appointment.svg" alt="">
  </div>
  <div class="no-data-txt">
    <h1>No appointments found</h1>
    <h2>Select a status from the dropdown to filter appointments.</h2>
  </div>
</div>
</body>
