<html>

<body>
  <mat-horizontal-stepper #stepper class="stepper" isLinear="false">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Pick</ng-template>

        <div class="outer-box-container">
          <div *ngIf="loading" class="loading-overlay"></div>
          <h1 class="find-clinic">Find your desired clinic</h1>
          <div color="primary" class="inner-box-container">
            <div class="find-container">

              <!-- Service -->
              <div class="card-container">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Service</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="chips-container">
                      <div class="service-chip">
                        <mat-chip-listbox>
                          <mat-chip *ngFor="let service of services" (click)="toggleSelectService(service)"
                            [ngClass]="{'selected': selectedServices.includes(service), 'blue': selectedServices.includes(service)}">
                            {{ service }}
                          </mat-chip>
                        </mat-chip-listbox>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>

              <!-- Schedule -->
              <div class="card-container">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Schedule</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="chips-container">
                      <div class="sched-chip">
                        <mat-chip-listbox>
                          <mat-chip *ngFor="let schedule of schedules" (click)="toggleSelectSchedule(schedule)"
                            [ngClass]="{'selected': selectedSchedules.includes(schedule), 'blue': selectedSchedules.includes(schedule)}">
                            {{ schedule }}
                          </mat-chip>
                        </mat-chip-listbox>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>

                <mat-card class="location-card">
                  <mat-card-header>
                    <mat-card-title>Location</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="location-container">
                      <div class="location-chip">
                        <button mat-raised-button color="primary" (click)="fetchLocation()"
                          [disabled]="locationFetched">
                          {{ locationFetched ? 'Location recorded' : 'Get my Location' }}
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <!-- Loader Overlay -->
              <div class="loader-overlay" *ngIf="loading">
                <mat-progress-spinner diameter="50" mode="indeterminate" color="primary"></mat-progress-spinner>
              </div>

              <!-- Button -->
              <div class="button-container">
                <button mat-raised-button [disabled]="!areServicesSelected() || loading || !locationFetched"
                  (click)="findClinic()">
                  <span>Find</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" [completed]="firstFormGroup.valid">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Select</ng-template>

        <div class="outer-foundc-container">
          <h1 class="found-clinic">Found Clinic/s</h1>
          <div class="inner-foundc-container" color="primary">
            <div class="foundc-container">
              <div class="back-container">
                <div class="extend">
                  <button class="back" matStepperPrevious>
                    <mat-icon>keyboard_backspace</mat-icon>
                  </button>
                  <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                      color="primary">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Your Preferences
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="prefs">
                        <p>Selected Services: {{ selectedServices.join(', ') }}</p>
                        <!-- <p>Selected Healthcares: {{ selectedHealthcares.join(', ') }}</p> -->
                        <p>Selected Schedules: {{ selectedSchedules.join(', ') }}</p>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>

              <a *ngFor="let clinic of clinics" style="text-decoration: none;">
                <mat-card class="clinic-card" (click)="popSeeMoreDetails(clinic)"
                  style="background-image: url('assets/bg.png');">
                  <mat-card-content>
                    <div class="clinic-logo">
                      <img [src]="clinic.profile || 'assets/logoo.png'" alt="Profile Image">
                      <div class="clinic-txt">
                        <!-- <h1>{{ clinic.cName }}</h1>
                          <h2>{{ clinic.cAddress }}</h2> -->
                      </div>
                    </div>
                    <div class="see-more1" *ngIf="isHovered">
                      <mat-icon>arrow_forward_ios</mat-icon>
                      <label><strong>See more</strong></label>
                    </div>
                    <div class="bot-part-container">
                      <div class="see-more">
                        <!-- <button mat-raised-button class="see-more1" (click)="popSeeMoreDetails(clinic)">See more<mat-icon>chevron_right</mat-icon></button> -->
                        <h2>{{ clinic.cName }}</h2>
                        <h2>{{ clinic.cAddress }}</h2>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </a>

              <mat-divider></mat-divider>

              <!-- Next step -->
              <div class="next">
                <button mat-raised-button color="primary" matStepperNext>Done</button>
              </div>
              <!-- <mat-paginator [pageSize]="4" [length]="clinics.length" (page)="onPageChange($event)" class="paginator"></mat-paginator> -->
            </div>
          </div>
        </div>

        <mat-divider [vertical]="true"></mat-divider>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="done">
        <div class="done-txt">
          <h1>Thank you for using Konektobet!</h1>
          <h2>We hope that you've found your preferred clinic using our app.</h2>
          <h2>We will now redirect you to home page</h2>
        </div>
        <img src="assets/done.svg">
      </div>

      <div class="next">
        <button mat-raised-button matStepperNext color="primary" (click)="goBackHome()">Go back to Home page</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</body>

</html>